html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 70rem;
  margin: auto;
  border: 1px solid lightblue;
  text-align: center;
}

.transaction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3rem;
}
